*{
    margin: 0;
    padding: 0;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: aqua;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;

}

p{
    color: brown;
}
#heading-parent{
    background-color: black;
    padding: 100px;
    width: 500px;
    /* margin-top: 100px;
    margin-left: auto;
    margin-right: auto; */
    margin: 100px auto;


}